<div id="bg">
    <div class="contact-us-container">
    
        <h2>Contact Us</h2>
    
        <div class="contact-card">
            <div class="contact-info">
                <div class="contact-details">
                    <h3>Cab Booking System</h3>
                    <p><strong>Mobile: 9008001234</strong></p>
                    <p><strong>Email: cabbookingsystem2002&#64;gmail.com</strong></p>
                    <p><strong> www.bookcab.com</strong></p>
                </div>
            </div>
        </div>
    
     
       
    </div>
    </div>
