<div id="bg">
    <div class="contact-us-container">
    
        <h2>About Us</h2>
    
        <div class="contact-card">
            <div class="contact-info">
                <div class="contact-details">
                    <h3>SkyTrack</h3>
                  
                    <p><strong>Welcome to Cab Booking, your premier cab booking system. At CAB TRACK, we streamline your cab travel experience with state-of-the-art technology and unparalleled service. Our mission is to provide efficient, reliable, and user-friendly solutions for cab and passengers alike.</strong></p>
                    <br>
                    <p>Join us in revolutionizing the roads, one cab at a time. Thank you for choosing CabTrack for your cab booking needs. Safe travels!</p>
                    
                </div>
            </div>
        </div>
    
